#game{
    width: 80vw;
    height: 55vw;
    background-image: url("background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#top{
    margin-top: 250px;
}
.row{
    padding-top: 175px;
    display: flex;
    justify-content: space-evenly;
}

.hole {
    overflow: hidden;
    width: 133px;
    height: 48px;
    position: relative;
    background: url("sand1.png");
    background-size: contain;
}

#yoda00,
#yoda01,
#yoda02,
#yoda10,
#yoda11,
#yoda12 {
    background: url(yoda1.png);
    background-size: contain;
    position: relative;
    top: 100%;
}